/* Normalize CSS */
html, body{
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	background-color: #FFFFFF;
	height: 100%;
}

.container{
	width: 100%;
	height: 100%;
	max-width: 960px;
	padding: 100px 20px 0;
	margin: 0 auto;
	box-sizing: border-box;
}

/* Write your code here */

/* Global */
table {
	width: 100%;
	vertical-align: middle;
	border-spacing: 0;
}

.pull-right {
	float: right;
}

/* Message Bar*/
.message-bar {
	text-align: left;
	padding: 8px 12px;
	font-weight: bold;
	font-size: 12px;
	color: rgb(255, 255, 255);
	background-color: rgb(30, 140, 197);
}

.dismiss-all:hover {
	cursor: pointer;
}

/* Individual Message */
.message {
	height: 68px;
}

.message-row:hover {
	background-color: rgba(0, 0, 0, 0.10)
}

.message .message-row {
	box-shadow: 1px 1px 4px rgba(0, 0, 0, .1);
}

/* From  */
.from-thumb {
	width: 60px;
}

.thumb {
	width: 36px;
	margin: 16px 8px 16px 16px;
	border-radius: 50%;
}

.from-text {
	width: 76px;
	font-size: 12px;
}

/* Preview */
.preview {
	left: 120px;
	margin-left: 8px;
}

.preview .title {
	display: table-cell;
	font-size: 14px;
	color: rgb(77, 77, 77)
	vertical-align: middle;
}

.preview .subtitle {
	font-size: 14px;
	color: rgb(153, 153, 153)
}

.footer-text {
	font-size: 12px;
	margin-left: 8px;
	width: 48px;
	text-align: center;
	color: rgb(153, 153, 153);
}

.footer-close {
	width: 36px;
	text-align: center;
}

.fa-times {
	font-size: 16px;
	color: rgb(153, 153, 153);
}

.fa-times:hover {
	font-size: 16px;
	color: rgb(0, 0, 0);
	cursor: pointer;
}
